.App {
  text-align: center;
  height: 100%;
}

body {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: rgb(127, 177, 211);
  overflow: visible;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}