body {
      bottom: 0;
}

header {
      font-size: 20px;
}

form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      margin: 10px;
      color:rgb(187, 177, 67);
}

input {
      margin: 5px;
      width: 300px;
      flex-wrap: wrap;
      overflow-wrap: break-word;
      word-break: break-all;
      overflow: visible;
      background-color: blanchedalmond;
}

button {
      width: min-content;
      margin: 0 auto;
      margin-top: 20px;
}

