body {
      bottom: 0;
}

header {
      font-size: 20px;
}

form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      margin: 10px;
      color:rgb(187, 177, 67);
}

input {
      margin: 5px;
      width: 30vmin;
      flex-wrap: wrap;
      overflow-wrap: break-word;
      background-color: blanchedalmond;
      flex-flow: wrap;
      word-wrap: break-word;
      font-style: italic;
}

input::placeholder {
      flex-wrap:wrap;
      word-wrap: break-word;
}

button {
      width: min-content;
      margin: 0 auto;
      margin-top: 20px;
}

