.App {
  text-align: center;
}

body {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: rgb(127, 177, 211);
  overflow: visible;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
